 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FN 26 guruhi</title>
 </head>
 <body>
    
<h1>Salom Dunyoo</h1>

{% for post in posts%}
<ul>

   <li>{{post.name}}</li>
   <li>{{post.content}}</li>
   <li>{{post.views}}</li>
   <li>{{post.created}}</li>
   <li>{{post.updated}}</li>
   <li>{{post.category}}</li>
   {%if post.photo%}
   <li><img src="{{ post.photo.url }}"></li>
   
   </ul>
   <hr>
   {% endfor%}

 </body>
 </html>